body {
  width: 90%;
  margin: 10px auto;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

.error {
  text-align: center;
  font-size: 1.5em;
  color: red;
  font-weight: bold;
}

button {
  margin-top: 4px;
}

.mode {
  position: absolute;
  top: 5px;
  left: 5%;
}

@media screen and (max-width: 425px) {
  .mode {
    position: static;
  }
}
